<mat-nav-list>
  <a mat-list-item routerLink="/songs" (click)="onClose()"
    ><mat-icon>face</mat-icon><span class="nav-caption">Songs</span></a
  >
  <a mat-list-item routerLink="/about" (click)="onClose()">
    <mat-icon>input</mat-icon><span class="nav-caption">About</span></a
  >
  <mat-list-item>
    <mat-slide-toggle
      class="autoPlayToggler"
      [checked]="autoPlay"
      color="primary"
      (change)="setAutoPlay($event)"
      >Auto Play Next</mat-slide-toggle
    >
  </mat-list-item>
  <app-connection-check
    mat-list-item
    style="margin: 0 auto"
  ></app-connection-check>
</mat-nav-list>
